body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  min-height: 500px;
  /* justify-content: space-around;
  gap: 20px; */
  background-color: #0d1117;
  color: white;
}

li {
  list-style: none;
}

.container-advice {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 400px;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #d9d9d9;
  background-color: #d9d9d9;
}

.advice {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 10px;
}

.advice-discrption {
  width: 100%;
  text-align: center;
}

.advice-get-btn {
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-wrapper {
  width: 100%;
  display: flex;
  gap: 5rem;
  align-items: center;
}

input {
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  max-width: 200px;
  font-size: 14px;
  border: #1f6feb;
}

.logo-wrapper {
  font-size: 20px;
  font-weight: 700;
}

.logo {
  color: #58a6ff;
}

a {
  text-decoration: none;
  color: white;
}

ul.header-wrapper > li:nth-child(2) {
  font-size: 12px;
}

ul.header-wrapper > li:nth-child(3) {
  font-size: 12px;
}

ul.header-wrapper > li:nth-child(4) {
  font-size: 12px;
}
